.rating {
    display: grid;
    grid-template-columns:  repeat(auto-fit , minmax(80px, 80px));
    row-gap: 10px;
    column-gap: 16px;
}

.rating__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    text-decoration: none;
}

@media (min-width: 1000px) {
    .rating {
        grid-template-columns: repeat(2, minmax(80px, 80px));
    }
}