.stack__container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.stack__block {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 15px;
    row-gap: 19px;
    padding-top: 24px;
    padding-bottom: 24px;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(71, 71, 72, 0.3);
    }

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.stack__block-name {
    grid-column: 1/-1;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
}

@media (min-width: 540px) {
    .stack__block-name {
        margin-bottom: 24px;
        font-size: 20px;
    }

    .stack__block {
        grid-template-columns: repeat(auto-fill, minmax(80px, 104px));
        column-gap: 16px;
        padding-top: 36px;
        padding-bottom: 36px;
    }
}