.tasks-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    min-height: 205px;
    height: 100%;
    padding: 30px;
    border-radius: 24px;
    align-items: flex-start;
}

.tasks-item:nth-child(odd) {
  background-color: var(--violet4)
}

.tasks-item:nth-child(even) {
  background-color: var(--gray);
}

.tasks-item_desc {
    margin: 0;
    font-weight: 500;
    font-size: clamp(1rem, 0.9363rem + 0.2614vw, 1.25rem);
    line-height: 1.15;
    color: var(--text);
}

@media screen and (max-width: 576px) {
    .tasks-item_desc {
        font-weight: 400;
        line-height: 1.31;
    }

    .tasks-item {
        min-height: auto;
        gap: 30px;
        padding: 20px;
    }
}